example-app/node_modules
example-app/public/build
example-app/public/hot
example-app/public/storage
example-app/storage/*.key
example-app/vendor
example-app/.env
example-app/.env.backup
example-app/.phpunit.result.cache
example-app/Homestead.json
example-app/Homestead.yaml
example-app/auth.json
example-app/npm-debug.log
example-app/yarn-error.log
example-app/.idea
example-app/.vscode
