body  
{  
    margin: 50;  
    padding: 0;  
    background-color:black;   
    font-family: 'Arial';  
}  
.login{  
        width: 360px;  
        overflow: hidden;  
        margin: 0 auto;  
        padding: 70px;  
        background: #36454F;     
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: white;  
    padding: 20px;  
}  
.header img{ 
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.header h2{ 
    position: relative;
    top: 18px;
    left: 10px;
}
label{  
    margin-left: 20px;
    color: white;    
    font-size: 14px;  
}  
#Uname{  
    margin-left: 20px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 8px;  
    background-color: black;
}  
#Pass{  
    margin-left: 20px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 8px;  
    background-color: black; 
}
i{
    margin-left: -30px; 
    cursor: pointer;
    color: white;
}
#log{  
    margin-left: 25px;
    text-align: center;
    width: 300px;  
    height: 35px;  
    border: none;  
    border-radius: 10px;  
    padding-left: 7px;  
    color: white; 
    background-color:green  
  

}  

#log:hover{
    background-color: rgb(34, 33, 33);
    transition: 0.25s ease-in-out;
    cursor: pointer;
    color:rgb(9, 196, 108);
   }

#togglePassword:hover{
    color:rgb(9, 196, 108);
    transition: 0.25s ease-in-out;
}

#Sign-up:hover{
    color:rgb(92, 235, 9);
    transition: 0.25s ease-in-out; 
}


p{ 
    text-align: center;
    color: white;  
}
a{ 
    text-decoration: none;
    color: rgb(9, 196, 108);
}

.Home-button{
    color:#36454F;
    border: 2px solid;
    background-color: rgb(34, 33, 33);
    border-radius: 4px;
    padding: 5px 12px;
}

.Home-button:hover{
    background:black;
    color:rgb(9, 196, 108);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

